* {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
}

body {
  background-color: #e0e0e0;
}

.game-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}

#demoCanvas {
  background-color: #64aced;
  border: 1px solid black;
}

.button-bar {
  display: flex;
  justify-content: space-around;
}

.tower-button, .pause-button, .game-stats {
  border: 2px solid gray;
  background-color: white;
  padding: 12px 0 7px;
}

.tower-button {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 25px;
}

.gold-container {
  display: flex;
}

.pause-button {
  width: 10%;
}

.game-stats {
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
}

.game-stats div {
  background-color: white;
  display: flex;
}

.tower-button {
  width: 33.33%;
}

.top-stats {
  background-color: white;
}

.stats-label {
  padding-right: 10px;
}

.tower-options {
 position: absolute;
 background: transparent;
 display: flex;
 flex-direction: column;
 padding: 5px;
}

.options-button {
  background: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 15px 5px 15px;
  margin: 5px;
}

.destroy-button {
  background: #ff3333;
  color: white;
}

#tower-options {
  display: none;
}
